// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$input-color: #333;
$button-color: #ffeba7;
$icon-color: #666;
$button-text-color: #27262c;

// Namespace
$ns: '.search';
