nav {
    margin-left: 20px;
}
a {
    margin-top: 10px;
    display: flex;
    left: 0;
    list-style-type: none;
}

a{
    padding: 1rem 2rem 1.15rem;
    text-transform: uppercase;
    cursor: pointer;
    color: #ebebeb;
    min-width: 80px;
}

a:hover{
    background-image: url('https://scottyzen.sirv.com/Images/v/button.png');
    background-size: 100% 100%;
    color: $button-text-color;
    animation: spring 300ms ease-out;
    text-shadow: 0 -1px 0 $button-color;
    font-weight: bold;
}

a:active,
.search-button:active{
    transform: translateY(4px);
}

.logout {
    float: right !important;
    right: 0;
    position: absolute;
}

.search-stock {
    font-family: 'Open Sans', sans-serif;
    width: 50%;
    padding-bottom: 30px;
    position:relative;
    margin:auto;
}

.search-button {
    margin-left: 3px;
    list-style-type: none;
    text-transform: uppercase;
    cursor: pointer;
    color: #ebebeb;
    min-width: 30px;
    font-size: 20px;
    background:none;
    border:none;
}

.search-button:hover{
    background-image: url('https://scottyzen.sirv.com/Images/v/button.png');
    background-size: 100% 100%;
    color: $button-text-color;
    animation: spring 300ms ease-out;
    text-shadow: 0 -1px 0 $button-color;
    font-weight: bold;
}

